.text {
    font-family:"Courier New", monospace;
    color: white;
}

a:visited{
    color: white;
}

.body {
    text-indent: 20px;
}

#header-one {
    font-size: 40px;
    font-weight: 1000;
}

#header-two {
    text-indent: 20px;
}

#header-three {
    text-indent: 20px;
}

.list {
    font-size: 18px;
    list-style-position: inside;
    font-weight: 500;
}

.list#unordered-list {
    list-style-type: "+ ";
}

li {
    margin:0 0 15px 0;  
}

div {
    padding: 0px;
    border-radius: 8px;
    margin: 10px auto;
}

.title {
    padding-top: 20px;
    padding-left: 45px;
}

.content {
    padding: 0px 28px 28px 28px;
}

body {
    background-color: rgb(36, 34, 49);
}

img {
    padding: 20px;
    width: 600px;
    height: auto;
    border-radius: 30px;
}